.Phone{
    width: 62%;
    background-color: #5c85f7;
    height: auto;
    margin-left: auto;
    margin-right: auto ;
    display: block;
    white-space: pre-wrap;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    border-radius: 40px;
    padding-bottom: 2%;
   margin-bottom: 40px;
}
@media screen and (max-width: 900px){   
.Phone{
    width: 82%;
    background-color: #5c85f7;
    height: auto;
    margin-left: auto;
    margin-right: auto ;
    display: block;
    white-space: pre-wrap;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 6%;
    border-radius: 40px;
    margin-bottom: 40px;
    background-size: contain;
}
}